body
{
margin :0px 0px 0px 0px;
}

#title
{
  font-size: 35px;
  font-family: sans-serif;
  fill:black;
  text-anchor: middle;
  text-decoration: underline;
}

.election_text{
  font-size: 15px;
  font-family: sans-serif;
  fill:black;
  text-anchor: middle;
}
.election_internal{
  font-size: 15px;
}

.sc_domain
{
  font-size: 35px;
  font-family: sans-serif;
  fill:rgb(241, 238, 226);
}

#main_description
{
  position: relative;
  font-size : 2.1vh; 
  font-family: sans-serif;
  padding: 4.5vh;
  top: 4vh;
  text-align: justify;

}
.opt
{
  font-size: 2.2vh;
  font-family: sans-serif;
  fill:black; 
}

#para_selection
{
  position: relative;
  padding: 4.5vh;

}

.tooltip_line{
    position:absolute;
    background-color: hsla(0,0%,100%,.9);
    padding: 0px;
}

.tooltip {
  position:absolute;
  font-family: sans-serif;
  background-color: hsla(0,0%,100%,.9);
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  width: 190px;
}
.tooltip .year {
  font-weight: 900;
  font-size: 1.25em;
  margin-bottom: 2px;
}
.tooltip .swatch {
  width: 11px;
  height: 11px;
  float: left;
  margin-top: 3px;
  margin-right: 4px;
}

.tooltip .category {
  text-transform: uppercase;
}
.tooltip .value {
  margin-top: 3px;
  margin-right: 4px;
}


#main_visualization,#interaction
{
  position: absolute;
}

#close{
    position:absolute;
    font-size: 2vw;
    font-family: arial;
    color:white;
    top:0.1vw;
    right:0.4vw;
    opacity:0.3;

}

#close:hover{
    opacity : 1.0;
}

#logo {
    position: fixed;
    font-size: 0.5vw;
    font-family: sans-serif;
    color: #e0e03e;
    font-weight: lighter;
    font-weight: lighter;
    bottom: 0.3vw;
    left:50%;
    transform: translateX(-50%);
}
