.Main_Map_bg
{
	background-color: #729ca3;
}

#neighborhoods
{
	stroke-width :0.5;
	stroke : #efebdc;
	fill : #efebdc;
	opacity :1.0;
	stroke-opacity:1.0;
}

#streets
{
	stroke-width :0.5;
	stroke : #3d5377;
	stroke-opacity:0.2;
	fill : none;
}

.outbound,.inbound
{
	fill:none;
}

#id_text
{
	display:block;
	font-family: sans-serif;
	text-align: right;
	font-size: 10px;
	color: white;
	background-color: white;
}
