#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    background-image: url('../Assets/background.jpg');
    background-attachment: fixed;
    background-size: 300%;
    opacity: 0.7;
    filter:alpha(opacity=80);
}

/*#whole_page
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5vh !important;
    margin-top: 2.5vh !important;
    padding-left: 4.5vh !important;
    width : 100%;
    height: 100%;
    max-width: 192.5vh;
    display: block;
    box-sizing: border-box;
}*/


#mainVisualization
{
    position:absolute;
    background: rgba(0,0,0,0.05);
    font-family: sans-serif;
    height:100%;
    width:50%;
}

#writeup
{
    position:absolute;
    background: rgba(0,0,0,0.05);
    margin-right: 20px;

}

#country_sel
{
    position:absolute;
    left:0%;
    top:0%;
    width :100%;
    height : 25%;
}

#country_sel_title
{
    position:absolute;
    font-family: sans-serif;
    font-size: 3.5vh;
    left:5%;
    top:30%;
    font-weight: normal;
}

#country_se
{
    position:absolute;
   /* background-color: rgba(0,0,0,0.2);*/
    font-family: sans-serif;
     position: absolute;
    font-family: sans-serif;
    font-size: 3.5vh;
    font-weight: lighter;
    left:5%;
    top:70%;

}


#year_sel
{
    position:absolute;
    width:100%;
    height:25%;
    left:0%;
    top:25%;
}

#year_sel_title
{
  position:absolute;
  font-family: sans-serif;
  font-size: 3.5vh;
  font-weight: normal;
  top: 5%;
  left: 5%;
}

#year_wr
{
  position: absolute;
  font-family: sans-serif;
  font-size: 3.5vh;
  font-weight: lighter;
  top: 25%;
  left: 5%;
}


#year
{
  position: absolute;
  font-family: sans-serif;
  font-size: 3.5vh;
  font-weight: lighter;
  width:100%;
  top: 60%;
  left: 4%;
}

#wars
{
  position:absolute;
  width:100%;
  height:50%;
  left:0%;
  top:50%;
}

#war_title
{
  position:absolute;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-size: 3.5vh;
  font-weight: normal;
  top: 5%;
  left: 5%;
}

#war_list
{
  position:absolute;
  font-family: sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
  top: 15%;
  left: 5%;
  width:100%;
  height:75%;
  overflow-y: scroll;
  overflow:hidden;
}

div ul{height:100%; width:100%;}
div ul{overflow:hidden; overflow-y:scroll;}

div ul {
  padding:0px;
  margin:0px;
}

#c_name
{
position:absolute;
margin:0px;
padding:0px;
text-align:center;
left:50%;
top:50%;
transform: translateX(-50%) translateY(-50%);
font-size: 3.5vh;
}

#decrease 
{
position:absolute;
margin:0px;
padding:0px;
width:6%;
height:20%;
background-color: rgba(0,0,0,0.2)
}

#decrease:hover{
  background-color: rgba(0,0,0,0.4)
}

#increase:hover{
  background-color: rgba(0,0,0,0.4)
}

#country_name 
{
position:absolute;
left:7%;
width:30%;
height:20%;
background-color: rgba(0,0,0,0.1)
}

#increase 
{
margin:0px;
padding:0px;
position:absolute;
width:6%;
height:20%;
left:41%;
transform: translateX(-50%);
background-color: rgba(0,0,0,0.1)
}

.center_align {
margin:0px;
padding:0px;
position:absolute;
left:50%;
top:50%;
transform: translateX(-50%) translateY(-50%);

}

#country_se
{
width:100%;
height:100%;
}

#Artist_label
{
  position:absolute;
  font-family: sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
}

#ArtistName 
{
  font-family: sans-serif;
  font-size: 2.5vh;
  font-weight: bolder;
  color:rgba(1,1,1,1);
}

div.tooltip {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2px;
  overflow: hidden;
  overflow-y: scroll;
  font: 2vh sans-serif;
  pointer-events: none;
}

.art_circles
{
    position:absolute;
}


.axis--grid .domain {
  fill: rgba(1,1,1,0.1);
  opacity : 0.3;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #000;
  stroke-opacity : .0;
}

.axis--grid .tick--minor line {
  stroke: #000;
  stroke-opacity: .5;
}

.selection {
  stroke:black;
  fill: black;
}